/***************** About Hero Section *****************/
.page-title {
    width: 80%;
    margin: 3rem auto 2rem;
    font-size: 3rem;
    color: #edb707;
    text-align: left;
}

.about-hero {
    width: 80%;
    margin: 0 auto 4rem;
    padding: 3rem;
    display: flex;
    gap: 3rem;
    align-items: center;

    background: linear-gradient(180deg, #303030 0%, #2a2a2a 100%);
    border: 1px solid #4b4b4bb2;
    border-top: 5px solid #edb707;
}

.hero-image {
    flex: 0 0 260px;
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #edb707;
    background-color: #1f1f1f;
}

.hero-content {
    flex: 1;
    color: #e0e0e0;
}

.hero-title {
    font-size: 2.2rem;
    color: #facc15;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #d0d0d0;
    margin-left: 1em;
    margin-bottom: 1em;

}

.hero-description .highlight {
    color: #facc15;
    font-weight: 600;
    background-color: rgba(250, 204, 21, 0.086);
    padding: 0 0.2rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.hero-description .highlight:hover {
    background-color: rgba(250, 204, 21, 0.3);
}

.hero-subtitle {
    font-size: 1.3rem;
    color: #edb707;
    margin-bottom: 0.5rem;
}

.hero-description .bold {
    font-weight: 700;
    color: #d7a500;
}

.hero-content ul {
    margin-left: 1.5em; 
    color: #b1b1b1;
    line-height: 1.6;
    list-style-type: disc;
}

.hero-content p:last-of-type {
    font-size: 1rem;
    color: #b1b1b1;
    line-height: 1.6;
}


/***************** Skills Section *****************/
.erd-skills {
    background-color: #2c2c2c;
    padding: 5em;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-bottom: 5px solid #edb707;
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    position: relative;
}

.erd-title{
    font-size: 2.5rem;
    color: #edb707;
    text-align: center;
    margin-bottom: 2.5em;
}

.erd-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.erd-entity {
    background-color: #1f1f1f;
    border: 2px solid #facc15;
    border-radius: 6px;
    width: 220px;
    text-align: center;
    padding: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}

.erd-entity:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
}

.erd-header {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2.5;
    color: #facc15;
    margin-bottom: 1em;
    border-bottom: 1px solid #facc15;
}

.erd-attributes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.erd-attributes li {
    padding: 0.25rem 0;
    color: #e9e9e9;
    font-size: 0.95rem;
}

.erd-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.erd-lines line {
    stroke: #facc15;
    stroke-width: 2;
}

/* hide lines in erd section in other views*/
@media (max-width: 1100px) {
    .erd-container {
        flex-direction: column;
        align-items: center;
    }

    .erd-entity {
        width: 90%; 
        max-width: 350px;
    }

    .erd-lines {
        display: none; 
    }
}
