<section class="contact-page">

    <h1 class="page-title">Contact</h1>

    <div class="contact-container">

        <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-group">
            <label>Name</label>
            <input type="text"
                    formControlName="name"
                    [class.invalid]="isSubmitted && f['name'].invalid" />

            @if (isSubmitted && f['name'].errors?.['required']) {
                <small>Name is required.</small>
            }
            </div>

            <div class="form-group">
            <label>Email</label>
            <input type="email"
                    formControlName="email"
                    [class.invalid]="isSubmitted && f['email'].invalid" />

            @if (isSubmitted && f['email'].errors?.['required']) {
                <small>Email is required.</small>
            }

            @if (isSubmitted && f['email'].errors?.['email']) {
                <small>Invalid email format.</small>
            }
            </div>

            <div class="form-group">
            <label>Message</label>
            <textarea rows="6"
                        formControlName="message"
                        [class.invalid]="isSubmitted && f['message'].invalid"></textarea>

            @if (isSubmitted && f['message'].errors?.['required']) {
                <small>Message is required.</small>
            }
            </div>

            <button type="submit" class="btn-primary">
            Submit
            </button>

            @if (successMessage) {
                <p class="success-msg">{{ successMessage }}</p>
            }

            @if (errorMessage) {
                <p class="error-msg">{{ errorMessage }}</p>
            }

        </form>
        </div>

        <div class="contact-info-card">

            <h2>Get in touch!</h2>
            <p>Feel free to reach out if you'd like to work together!</p>

            <div class="contact-item">
                <i class="bi bi-envelope-fill"></i>
                <a href="mailto:yambaolorinrobelle@gmail.com">
                <img src="images/mail-icon.png" alt="GMail" class="icon">
                yambaolorinrobelle@gmail.com
                </a>
            </div>

            <div class="contact-item">
                <i class="bi bi-github"></i>
                <a href="https://github.com/yambaolr" target="_blank">
                <img src="images/github-icon.png" alt="Github" class="icon">
                github.com/yambaolr
                </a>
            </div>

            <div class="contact-item">
                <i class="bi bi-linkedin"></i>
                <a href="https://linkedin.com/in/yambaolr" target="_blank">
                <img src="images/linkedin-icon.png" alt="Linkedin" class="icon">
                Lorin Robelle Yambao
                </a>
            </div>

            <div class="contact-item">
                <i class="bi bi-number"></i>
                <a href="tel:+639692754224">
                <img src="images/contact-icon.png" alt="Contact" class="icon">
                +63 969-275-4224
                </a>
            </div>
        </div>
    </div>
</section>
