* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #333;
    color: #fff;
    font-family: monospace;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .name {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    align-items: right;
    margin-left: auto;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: #71df9b;
}

.nav-links a.active {
    color: #39e47b;
}