* {
    margin: 0;
    padding: 0;
}

/* === Nav === */
nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #141414;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    border-bottom: 1px solid #4b4b4bb2;
}

nav .logo {
    width: 72px;
    height: 72px;
}

nav .name {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    align-items: right;
    margin-left: auto;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #9b9b9b;
}

.nav-links a.active {
    color: #edb707;
    border-bottom: 2px solid #facc15;
}

/* === Footer === */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 3rem;
    width: 100%;
    background-color: #141414;
    color: #b1b1b1;
    border-top: 1px solid #4b4b4bb2;
    margin-top: 4rem;
}

.left-side {
    display: flex;
    align-items: flex-start;
}

.right-side {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    gap: 1rem;
}

footer h5 {
    margin: 0.5rem 0;
}

.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.social-media {
    display: flex;
    gap: 1.5rem;
}

.page-links {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
    
}

.page-links a {
    color: #edb707;
}

.page-links a:hover {
    color: #fff9e0;
}

/* === BG === */
.global-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-color: #0f0f0f;
}

.global-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(rgba(237,183,7,0.03) 1px, transparent 1px),
        linear-gradient(to right, rgba(237,183,7,0.03) 1px, transparent 1px);
    background-size: 60px 60px;
}
