* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #141414;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    border-bottom: 1px solid #4b4b4bb2;
}

nav .logo {
    width: 72px;
    height: 72px;
}

nav .name {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    align-items: right;
    margin-left: auto;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #9b9b9b;
}

.nav-links a.active {
    color: #edb707;
    border-bottom: 2px solid #facc15;
}